<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <title>{% if title %}{{title}}{% endif %}</title>
   <link rel="stylesheet" href="/site_media/css/{% block css %}base{% endblock %}.css" type="text/css">
   {% block extrahead %}{% endblock %}
</head>
<body>
<div id="doc" class="yui-t1">
   <div id="hd"><h1>{% if heading %}{{heading}}{% endif %}</h1></div>
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b"><div class="yui-g">
	{% block content %}{% endblock %}
	</div>
	</div>
	</div>
	<div class="yui-b">{% block navigation %}{% endblock %}</div>
	
	</div>
   <div id="ft">{% block footer %}{% endblock %}</div>
</div>
</body>
</html>
