{% extends "fitbeats/base.html" %}

{% block content %}
    <h2>{{pattern}}</h2>

    <ul id="subnavigation">
        <li><a href="{% url fitbeats.views.edit_pattern pattern.id %}">Back to Pattern</a></li>
    </ul>
    
    {% if errors %}
        <p class="errornote">
        Please correct the error below.
        </p>
        
        {{form.errors}}
    {% endif %}
    
    <form method="POST">
        <div class="subform">
        {% for f in parameter_forms %}
            <table>
                {{f}}
            </table>
        {% endfor %}
        </div>
        <input type="submit" value="Save" />
    </form>
{% endblock %}
