{% extends "fitbeats/base.html" %}

{% block content %}
    <ul>
        <li class="nav_back"><a href="{% url view_patterns %}">Back to Patterns</a></li>
        {% if pattern %}
            <li class="nav_edit"><a href="trajectories/">Edit Trajectories</a></li>
            <li class="nav_edit"><a href="parameters/">Edit Parameters</a></li>
            <li class="nav_evolve"><a href="{% url fitbeats.views.evolve_pattern pattern.id %}">Evolve Pattern</a></li>
        {% endif %}
    </ul>

    <form method="POST">
        {{form.as_p}}
        <input type="submit" value="Save" />
    </form>
{% endblock %}
